@import "tailwindcss";

@theme inline {
  --font-russo: var(--font-russo);
  --font-roboto: var(--font-roboto);
  --font-josefin: var(--font-josefin);
  --font-racing: var(--font-racing);
}

@layer base {
  body {
    background: #000;
    font-family: var(--font-josefin);
    color: #f5f5f5;
  }
  h1 {
    @apply font-russo;
  }
}
@layer components {
  .btn {
    @apply p-1 px-5 border rounded-full;
  }
}
@layer utilities {
  .con-px {
    @apply px-[8%] mx-auto 2xl:container 2xl:px-[123px];
  }
  .abs-x-center {
    @apply left-1/2 -translate-x-1/2;
  }
  .bg {
    background-image: url("../public/bg-1.jpg");
    background-position: center;
  }
}
