@import "tailwindcss";

@theme inline {
  --font-roboto: var(--font-roboto);
  --font-syne: var(--syne);
  --font-spaceMono: var(--font-space-mono);
  --font-audiowide: var(--font-audiowide);
  --font-mona: var(--font-mona);
  --font-teko: var(--font-teko);
  --color-background: #0e1015;
  --color-off-white: #f5f5f5;
  --color-raymond-green: #00ffa3;
  --animate-float: float 3s linear infinite;
}

@layer base {
  body {
    background: var(--color-background);
    font-family: var(--font-syne);
    color: var(--color-off-white);
  }
  h1 {
    @apply font-audiowide;
  }
  h2 {
    @apply text-center text-white font-audiowide font-bold uppercase text-[42px] lg:text-6xl;
  }
  h3 {
    @apply uppercase font-bold text-xl font-audiowide sm:text-xl md:text-2xl lg:text-3xl;
  }
  html {
    scroll-behavior: smooth;
  }
  p {
    @apply text-white sm:text-lg;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #262626 inset !important;
  }
  input:-webkit-autofill {
    -webkit-text-fill-color: white;
    caret-color: white;
  }
}
@layer components {
  .btn {
    @apply px-3 py-1.5 rounded-full cursor-pointer font-audiowide;
  }
  .form-field label {
    @apply font-medium text-[15px] opacity-70;
  }
  .form-field input,
  .form-field textarea {
    @apply bg-[#262626] block mt-2 w-full border border-[#6d6d6d] px-4 py-3 focus:border-[#00FFA3] focus:outline-none;
  }
  .form-field input {
    @apply rounded-full;
  }
  .form-field textarea {
    @apply rounded-3xl;
  }
}
@layer utilities {
  .section-px {
    @apply px-[5%] md:px-[10%] mx-auto 2xl:container 2xl:px-[123px];
  }
  .nav-footer-px {
    @apply px-[5%] mx-auto 2xl:container 2xl:px-[123px];
  }
  .abs-x-center {
    @apply left-1/2 -translate-x-1/2;
  }
  .abs-y-center {
    @apply lg:top-1/2 lg:-translate-y-1/2;
  }
  .cursor {
    @apply text-white;
  }
  .img-soft-glow {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
  }

  .img-strong-pop {
    box-shadow:
      0 8px 20px rgba(0, 0, 0, 0.7),
      0 0 8px rgba(255, 255, 255, 0.08);
  }

  .img-edge-glow {
    box-shadow:
      0 0 25px rgba(255, 255, 255, 0.20),
      0 0 50px rgba(255, 255, 255, 0.05);
  }

  .img-cinematic {
    box-shadow:
      0 15px 40px rgba(0, 0, 0, 0.8),
      0 0 12px rgba(255, 255, 255, 0.12);
  }

  .img-neon {
    box-shadow:
      0 0 25px rgba(0,153,255,0.35),
      0 0 60px rgba(0,153,255,0.15);
  }
}
@keyframes disappear {
  0% {
    opacity: 1 !;
  }
  100% {
    opacity: 0 !important;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  33.33% {
    transform: translateY(5px);
  }
  66.66% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
